.container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYRdCujFURWQ_fq6_QexOUCsbi4Emvr1qjyg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
}
.inner-container {
    background-color: rgba(225,225,225,0.4,); 
    opacity: ;
}